<!-- wp:group {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:template-part {"slug":"header","theme":"wens-haelo","area":"header","align":"full"} /-->

    <!-- wp:group {"tagName":"main","align":"full","style":{"spacing":{"blockGap":"0"}},"layout":{"type":"constrained"}} -->
    <main class="wp-block-group alignfull">
        <!-- wp:pattern {"slug":"wens-haelo/second-banner"} /-->
        <!-- wp:pattern {"slug":"wens-haelo/story-showcase"} /-->
        <!-- wp:pattern {"slug":"wens-haelo/featured-one"} /-->
        <!-- wp:pattern {"slug":"wens-haelo/featured-two"} /-->
        <!-- wp:pattern {"slug":"wens-haelo/logos"} /-->
    </main>
    <!-- /wp:group -->
    
    <!-- wp:template-part {"slug":"footer","theme":"wens-haelo","area":"footer","align":"full"} /-->
</div>
<!-- /wp:group -->