<!-- wp:group {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:template-part {"slug":"header","theme":"wens-haelo","area":"header","align":"full"} /-->

    <!-- wp:group {"tagName":"main","align":"full","style":{"spacing":{"blockGap":"0"}},"layout":{"type":"constrained"}} -->
    <main class="wp-block-group alignfull">
    <!-- wp:pattern {"slug":"wens-haelo/third-banner"} /-->
    
    <!-- wp:group {"align":"full","style":{"color":{"background":"#f5f5f5"},"spacing":{"padding":{"top":"90px","bottom":"90px"}}},"layout":{"type":"constrained"}} -->
    <div class="wp-block-group alignfull has-background" style="background-color:#f5f5f5;padding-top:90px;padding-bottom:90px"><!-- wp:columns {"align":"wide"} -->
    <div class="wp-block-columns alignwide"><!-- wp:column {"width":"40%"} -->
    <div class="wp-block-column" style="flex-basis:40%"><!-- wp:heading {"style":{"typography":{"fontSize":"30px","lineHeight":"1.3"}}} -->
    <h2 class="wp-block-heading" style="font-size:30px;line-height:1.3">What we offer?</h2>
    <!-- /wp:heading --></div>
    <!-- /wp:column -->
    
    <!-- wp:column -->
    <div class="wp-block-column"><!-- wp:paragraph -->
    <p>We provide buy-side, sell-side and market infrastructure firms&nbsp;with a full-service offering, including systems integration and technology consulting services, to assist in delivering high performance trading and settlement</p>
    <!-- /wp:paragraph -->
    
    <!-- wp:paragraph -->
    <p>More than 25 years of experience working in the industry has enabled us to build our services and solutions in strategy, consulting, digital, technology and operations that help our clients with their trading projects around the world. Capabilities we leverage.</p>
    <!-- /wp:paragraph --></div>
    <!-- /wp:column --></div>
    <!-- /wp:columns --></div>
    <!-- /wp:group -->
    
    <!-- wp:group {"align":"wide","style":{"spacing":{"blockGap":"40px","margin":{"top":"40px"},"padding":{"bottom":"90px"}}},"layout":{"type":"constrained"}} -->
    <div class="wp-block-group alignwide" style="margin-top:40px;padding-bottom:90px"><!-- wp:columns {"align":"wide","style":{"spacing":{"blockGap":{"left":"40px"}}}} -->
    <div class="wp-block-columns alignwide"><!-- wp:column -->
    <div class="wp-block-column"><!-- wp:group {"style":{"color":{"background":"#f5f5f5"},"spacing":{"padding":{"top":"40px","bottom":"40px","left":"30px","right":"30px"},"blockGap":"var:preset|spacing|20"}},"layout":{"type":"constrained"}} -->
    <div class="wp-block-group has-background" style="background-color:#f5f5f5;padding-top:40px;padding-right:30px;padding-bottom:40px;padding-left:30px"><!-- wp:heading {"textAlign":"center","style":{"typography":{"fontSize":"20px"}}} -->
    <h2 class="wp-block-heading has-text-align-center" style="font-size:20px">Capital Markets</h2>
    <!-- /wp:heading -->
    
    <!-- wp:paragraph {"align":"center"} -->
    <p class="has-text-align-center">Providing insight-driven transformation to investment banks, wealth and asset managers, exchanges, clearing houses.</p>
    <!-- /wp:paragraph --></div>
    <!-- /wp:group --></div>
    <!-- /wp:column -->
    
    <!-- wp:column -->
    <div class="wp-block-column"><!-- wp:group {"style":{"color":{"background":"#091057"},"spacing":{"padding":{"top":"40px","bottom":"40px","left":"30px","right":"30px"},"blockGap":"var:preset|spacing|20"}},"layout":{"type":"constrained"}} -->
    <div class="wp-block-group has-background" style="background-color:#091057;padding-top:40px;padding-right:30px;padding-bottom:40px;padding-left:30px"><!-- wp:heading {"textAlign":"center","style":{"typography":{"fontSize":"20px"},"elements":{"link":{"color":{"text":"var:preset|color|base"}}}},"textColor":"base"} -->
    <h2 class="wp-block-heading has-text-align-center has-base-color has-text-color has-link-color" style="font-size:20px">Insurance</h2>
    <!-- /wp:heading -->
    
    <!-- wp:paragraph {"align":"center","style":{"elements":{"link":{"color":{"text":"var:preset|color|base"}}}},"textColor":"base"} -->
    <p class="has-text-align-center has-base-color has-text-color has-link-color">Providing insight-driven transformation to investment banks, wealth and asset managers, exchanges, clearing houses.</p>
    <!-- /wp:paragraph --></div>
    <!-- /wp:group --></div>
    <!-- /wp:column -->
    
    <!-- wp:column -->
    <div class="wp-block-column"><!-- wp:group {"style":{"color":{"background":"#f5f5f5"},"spacing":{"padding":{"top":"40px","bottom":"40px","left":"30px","right":"30px"},"blockGap":"var:preset|spacing|20"}},"layout":{"type":"constrained"}} -->
    <div class="wp-block-group has-background" style="background-color:#f5f5f5;padding-top:40px;padding-right:30px;padding-bottom:40px;padding-left:30px"><!-- wp:heading {"textAlign":"center","style":{"typography":{"fontSize":"20px"}}} -->
    <h2 class="wp-block-heading has-text-align-center" style="font-size:20px">Blockchain</h2>
    <!-- /wp:heading -->
    
    <!-- wp:paragraph {"align":"center"} -->
    <p class="has-text-align-center">Providing insight-driven transformation to investment banks, wealth and asset managers, exchanges, clearing houses.</p>
    <!-- /wp:paragraph --></div>
    <!-- /wp:group --></div>
    <!-- /wp:column --></div>
    <!-- /wp:columns -->
    
    <!-- wp:columns {"align":"wide","style":{"spacing":{"blockGap":{"left":"40px"}}}} -->
    <div class="wp-block-columns alignwide"><!-- wp:column -->
    <div class="wp-block-column"><!-- wp:group {"style":{"color":{"background":"#f5f5f5"},"spacing":{"padding":{"top":"40px","bottom":"40px","left":"30px","right":"30px"},"blockGap":"var:preset|spacing|20"}},"layout":{"type":"constrained"}} -->
    <div class="wp-block-group has-background" style="background-color:#f5f5f5;padding-top:40px;padding-right:30px;padding-bottom:40px;padding-left:30px"><!-- wp:heading {"textAlign":"center","style":{"typography":{"fontSize":"20px"}}} -->
    <h2 class="wp-block-heading has-text-align-center" style="font-size:20px">Technology Advisory</h2>
    <!-- /wp:heading -->
    
    <!-- wp:paragraph {"align":"center"} -->
    <p class="has-text-align-center">Providing insight-driven transformation to investment banks, wealth and asset managers, exchanges, clearing houses.</p>
    <!-- /wp:paragraph --></div>
    <!-- /wp:group --></div>
    <!-- /wp:column -->
    
    <!-- wp:column -->
    <div class="wp-block-column"><!-- wp:group {"style":{"color":{"background":"#f5f5f5"},"spacing":{"padding":{"top":"40px","bottom":"40px","left":"30px","right":"30px"},"blockGap":"var:preset|spacing|20"}},"layout":{"type":"constrained"}} -->
    <div class="wp-block-group has-background" style="background-color:#f5f5f5;padding-top:40px;padding-right:30px;padding-bottom:40px;padding-left:30px"><!-- wp:heading {"textAlign":"center","style":{"typography":{"fontSize":"20px"}}} -->
    <h2 class="wp-block-heading has-text-align-center" style="font-size:20px">Finance &amp; Risk</h2>
    <!-- /wp:heading -->
    
    <!-- wp:paragraph {"align":"center"} -->
    <p class="has-text-align-center">Providing insight-driven transformation to investment banks, wealth and asset managers, exchanges, clearing houses.</p>
    <!-- /wp:paragraph --></div>
    <!-- /wp:group --></div>
    <!-- /wp:column -->
    
    <!-- wp:column -->
    <div class="wp-block-column"><!-- wp:group {"style":{"color":{"background":"#f5f5f5"},"spacing":{"padding":{"top":"40px","bottom":"40px","left":"30px","right":"30px"},"blockGap":"var:preset|spacing|20"}},"layout":{"type":"constrained"}} -->
    <div class="wp-block-group has-background" style="background-color:#f5f5f5;padding-top:40px;padding-right:30px;padding-bottom:40px;padding-left:30px"><!-- wp:heading {"textAlign":"center","style":{"typography":{"fontSize":"20px"}}} -->
    <h2 class="wp-block-heading has-text-align-center" style="font-size:20px">Portfolio Managment</h2>
    <!-- /wp:heading -->
    
    <!-- wp:paragraph {"align":"center"} -->
    <p class="has-text-align-center">Providing insight-driven transformation to investment banks, wealth and asset managers, exchanges, clearing houses.</p>
    <!-- /wp:paragraph --></div>
    <!-- /wp:group --></div>
    <!-- /wp:column --></div>
    <!-- /wp:columns --></div>
    <!-- /wp:group --></main>
    <!-- /wp:group -->
    
    <!-- wp:template-part {"slug":"footer","theme":"wens-haelo","area":"footer","align":"full"} /--></div>
    <!-- /wp:group -->